<p align="center">
    <strong>4. User Interface and issues</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>4.1: Homepage</strong>
</p>
<p>
Any user will be able to see this page by going to    <a href="http://www.ehealthcare.com.bd/">www.ehealthcare.com.bd</a>. From
    homepage if the user gives the location permission they will be able to see
    the nearest doctors and latest medical news. Now when the user hover over
    the sign up button they will see the options to register as a doctor or a
    patient and existing user will sign in.
    <img
        border="0"
        width="602"
        height="751"
        src="index.png"
    />
</p>
<p>
    <strong>4.2: Sign Up as a Doctor:</strong>
</p>
<p>
    If an user wants to sign up as a doctor he/she will see this page. After
    completing all necessary credentials the user will press the submit button.
    <img
        border="0"
        width="602"
        height="604"
        src="DoctorSignup.png"
    />
</p>

<p>
    <strong>4.3 Doctor Profile:</strong>
</p>
<p>
    After signing up doctor will see his/her profile. He/she will have the
    option to edit anything in his profile. And see the reviews of patient
    <img
        width="602"
        height="604"
        src="DoctorProfile.png"
    />
</p>
<p>
    <strong>4.4 Doctor’s Public Profile</strong>
</p>
<p>
    A doctor will have a public profile which will be dependent on what doctor
    wants to show to the public. A patient will be able to make an appointment
    from doctors profile by clicking on make an appointment button.
</p>
<p>
    <img
        width="602"
        height="604"
        src="DoctorPublicProfile.png"
    />
</p>

<p>
    <strong>4.5 Patient Sign Up</strong>
</p>
<p>
    Just like doctors patient will have to fill up necessary credentials to
    sign up and press submit button.
</p>
<p>
    <img
        width="601"
        height="603"
        src="PatientSignup.png"
    />
</p>
<p>
    <strong>4.6 Patient profile</strong>
</p>
<p>
    A patient will a personal profile where they will be able to see their
    check-up history and the reviews they made.
</p>
<p>
    <img
        width="602"
        height="604"
        src="PatientProfile.png"
    />
</p>
<p>
    <strong>4.6 Make an appointment </strong>
</p>
<p>
    Patient will select the MAKE APPOINTMENT button from home or from doctors
    profile, if the button is pressed from home patient will have to input the
    location, the doctor suggestion will appear when the patient selects the
    doctor available time will appear, from there patients will be able to
    select the time and date and after submitting system will record the
    appointment and notify doctor.
</p>
<p>
    <img
        width="602"
        height="604"
        src="Makeap.png"
    />
</p>
<p>
    <strong>4.7 Appointment successful</strong>
</p>
<p>
    After making a successful appointment patient will see the successful
    message and the details of his appointment and the cancellation button.
</p>
<p>
    <img
        width="602"
        height="604"
        src="Successfull.png"
    />
</p>

<p>
    <strong>4.8 Doctor Homepage</strong>
</p>
<p>
    The doctor will be able to see his patient list and next patient from his
    homepage.
</p>
<p>
    <img
        width="602"
        height="839"
        src="DoctorHomepage.png"
    />
</p>
<p>
    <strong>4.9 Patient List:</strong>
</p>
<p>
    After pressing the patient list button from home page doctor will see his
    patient list
</p>
<p>
    <img
        width="602"
        height="604"
        src="Patientlist.png"
    />
</p>
<p>
    <strong>4.10 Review</strong>
</p>
<p>
    <img
        width="602"
        height="604"
        src="Review.png"
    />
</p>
<p>
    <strong>4.11 Sign In</strong>
</p>
<p>
    Existing users will be able to sign in by providing email and password.
</p>
<p>
    <img
        width="602"
        height="571"
        src="Signin.png"
    />
</p>